@font-face {
    font-family: 'Inter';
    src: url('dist/static/fonts/Inter.woff2') format('woff2'),
         url('dist/static/fonts/Inter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}