html {
    overscroll-behavior: none;

    &.lenis {
        height: auto;

    }
}

.lenis {
    &.lenis-smooth {
        scroll-behavior: auto;
    }

    &.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    &.lenis-stopped {
        overflow: hidden;
    }

    &.lenis-scrolling iframe {
        pointer-events: none;
    }
}