{% set e = module %}
<section class="accordion">
    {% for item in e.accordion.all() %}
        <div class="accordion__wrapper">
            <div class="accordion__title">
                {{ item.accordionTitle }}
            </div>
            <div class="accordion__content">
                {{ item.accordionContent }}
            </div>
        </div>
    {% endfor %}
</section>
