{% extends '_layouts/master' %}
{% set bodyClass = 'home' %}

{% block content %}
    {% include '_includes/header' %}

    <main class="main" id="main">
        <div class="modules">
        </div>
    </main>


    {% include '_includes/footer' %}
{% endblock %}
