.foodSlider {
    .swiper {
        height: 350px;

        .swiper-slide {
            aspect-ratio: 16/9;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
        
        // .swiper-button-next, .swiper-button-prev {
        //     background-color: $color-black;
        //     opacity: 1;
        //     width: 48px;
        //     height: 48px;
        //     margin-top: 0;
        //     color: $color-green;
        //     border-radius: 24px;
        // }

        // .swiper-button-prev {
        //     &::after {
        //         content: '';
        //         background-image: url('dist/static/svg/arrowLeft.svg');
        //         height: 30px;
        //         width: 28px;
        //     }
        // }

        // .swiper-button-next {
        //     &::after {
        //         content: '';
        //         background-image: url('dist/static/svg/arrowRight.svg');
        //         height: 30px;
        //         width: 28px;

        //     }
        // }
    }
}