.foodSlider {
    .swiper {
        height: 350px;

        @include respond-to(small) {
            height: 500px;
        }

        @include respond-to(full) {
            height: 650px;
        }

        &:hover {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }

        .swiper-slide {
            aspect-ratio: 16 / 9;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

    }
}