.imagescroll {
    margin-bottom: calc(100vh + $margin-large);
    position: relative;
    overflow: hidden;
    width: auto;

    &__item {
        color: $color-black;
        height: calc(100% + 25px);
        width: 85vw;
        margin-right: 20px;

        &--hoverable {
            &:hover {
                img {
                    transition: transform $time $easing;
                    transform: $image-scale;
                }

                .imagescroll__icon--wrapper {
                    width: 32px;
                    height: 18px;
                    transition: width $time $easing;
                }
            }
        }
    }

    &__inner {
        display: flex;
        overflow: visible;
        transition: transform 50ms;
        transform-style: unset;
        transform-origin: unset;
    }

    .scrollimage-image {
        aspect-ratio: 16/9;

        height: 300px;
        margin-right: $margin-small;
        overflow: hidden;
        transition: transform 330ms ease-in-out;
        transform: scale(1);
        width: auto;

    }
}