.imagescroll {
    margin-bottom: 100vh;
    position: relative;
    overflow: hidden;
    width: auto;

    @include respond-to(medium) {
        margin-bottom: calc(100vh + 100px);
        margin-top: 120px;
    }

    @include respond-to(large) {
        margin-bottom: calc(100vh + 170px);
    }

    &__inner {
        display: flex;
        overflow: visible;
        transition: transform 50ms;
        transform-style: unset;
        transform-origin: unset;
    }

    .scrollimage-image {
        aspect-ratio: 3 / 4;
        height: 200px;
        overflow: hidden;
        transition: transform 330ms ease-in-out;
        transform: scale(1);
        width: auto;


        @include respond-to(small) {
            height: 100%;
            margin-right: $margin-medium;
        }
    }

    &__item {
        color: $color-black;
        height: 100%;
        margin-right: 10px;

        @include respond-to(small) {
            height: 100%;
        }
    }
}