.imagescroll {
    margin-bottom: 100vh;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    width: auto;

    @include respond-to(medium) {
        margin-bottom: calc(100vh + 100px);
        margin-top: 120px;
    }

    @include respond-to(large) {
        margin-bottom: calc(100vh + 170px);
    }

    &__title {
        @extend .text__title;

        margin-bottom: $margin-xsmall;
        padding: 0 35px;
        text-align: center;

        @include respond-to(small) {
            margin-bottom: $margin-small;
        }

        @include respond-to(medium) {
            margin-bottom: $margin-medium;
        }
    }

    &__legend {
        @extend .text__paragraph;
        text-align: center;

        &--wrapper {
            display: flex;
            justify-content: space-between;
            padding-top: $margin-xsmall;
        }
    }

    &__inner {
        display: flex;
        overflow: visible;
        transition: transform 50ms;
        transform-style: unset;
        transform-origin: unset;
    }

    .scrollimage-image {
        height: 300px;
        margin-right: $margin-small;
        overflow: hidden;
        transition: transform 330ms ease-in-out;
        transform: scale(1);
        width: auto;
        object-fit: cover;


        @include respond-to(small) {
            height: 100%;
            margin-right: $margin-medium;
        }
    }

    &__item {
        color: $color-black;
        height: calc(100% + 25px);
        margin-right: $margin-small;

        @include respond-to(small) {
            height: calc(100% + 36px);
        }


        &--hoverable {
            &:hover {
                img {
                    transition: transform 330ms ease-in-out;
                    transform: $image-scale;
                }

                .imagescroll__icon--wrapper {
                    width: 32px;
                    height: 18px;
                    transition: width $time ease-in-out;
                }
            }
        }
    }
}