{% block footer %}
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="gr-14">
					<div class="footer__slogan">
						Brand Alp
					</div>
					<p class="footer__team">
						Margrith, Albin & Team
					</p>
				</div>
				<div class="gr-10">
					<div class="footer__links">
						<a class="link" href="{{ url('impressum/') }}">Impressum</a>
						<a class="link" href="{{ url('Datenschutz/') }}">Datenschutz</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
