<nav class="nav" id="nav">
	<div class="nav__wrapper">
		<div class="container">
			<div class="row">
				<div class="gr-24">
					<div class="nav__primary">
						<a href="#location" class="nav__link">Standort</a>
						<a href="#food-and-drinks" class="nav__link">Speisen & Getränke</a>
						<a href="#gallery" class="nav__link">Gallerie</a>
						<a href="#partners" class="nav__link">Partner</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
