<div class="container">
    <div class="row">
        <div class="gr-24">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slider__image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="none">
                                <path fill="#FF6086" d="M0 0h400v400H0z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider__image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="none">
                                <path fill="#FF6086" d="M0 0h400v400H0z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider__image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="none">
                                <path fill="#FF6086" d="M0 0h400v400H0z"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div>

        </div>
    </div>
</div>
