.footer {
    background-color: $color-green;
    padding: $margin-large 0;

    &__slogan {
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        color: $color-white;
        font-size: 32px;
    }

    &__team {
        font-size: 20px;
        color: $color-white;
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: $margin-xsmall;
        height: 100%;

        .link { 
            font-size: 16px;
            color: $color-white;
        }
    }
}