@import '@hi_digital/easy-flex';

$container-max: 1680px;

/**
* First we must register the breakpoints
* breakpoint-name, screen-width, gutter-width and vertical-space (padding left & right on the container)
*/
@include easy-flex-breakpoint('tiny', 480px, 12px, 12px);
@include easy-flex-breakpoint('small', 768px, 12px, 12px);
@include easy-flex-breakpoint('medium', 1024px, 20px, 24px);
@include easy-flex-breakpoint('large', 1200px, 20px, 24px);
@include easy-flex-breakpoint('huge', 1440px, 20px, 24px);
@include easy-flex-breakpoint('full', $container-max, 20px, 24px);

// Then we create the grid
@include create-easy-flex((
  columns: 24,
  container-width: 100%,
  container-max-width: $container-max,
  gutter-width: 10px,
  vertical-space: 10px,
));
